<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<!DOCTYPE HTML>

<html>
	
<head>

<meta charset="UTF-8">
<title>Icndy Bootstarp Website Template | Home :: w3layouts</title>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script src="{% static 'main/js/megamenu.js' %}"></script>
<script src="{% static 'main/js/jquery.etalage.min.js' %}"></script>
<script src="{% static 'main/js/hover_pack.js' %}"></script>
<script src="{% static 'main/js/cbpViewModelSwitch.js' %}"></script>
<script src="{% static 'main/js/classie.js' %}"></script>
<script src="{% static 'main/js/easyResponsiveTabs.js' %}"></script>
<script src="{% static 'main/js/jquery-1.11.1.min.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/megamenu.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/etalage.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/component.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.css' %}">

</head>

<body>
	<div class="banner">
   	  <div class="container">
   		<div class="logo">
			<a href="index.html"><img src="web/images/logo.png" alt=""/></a>
		</div>
	   <div class="menu">
	     <ul class="skyblue">
			<li><a class="color2" href="#">Mens</a>
				<div class="megapanel">
					<div class="row">
						<div class="col1">
							<div class="h_nav">
								<h4>Men</h4>
								<ul>
									<li><a href="men.html">Jackets</a></li>
									<li><a href="men.html">Blazers</a></li>
									<li><a href="men.html">Suits</a></li>
									<li><a href="men.html">Trousers</a></li>
									<li><a href="men.html">Jeans</a></li>
									<li><a href="men.html">Shirts</a></li>
									<li><a href="men.html">Sweatshirts & Hoodies</a></li>
									<li><a href="men.html">Swem Wear</a></li>
									<li><a href="men.html">Accessories</a></li>
								</ul>	
							</div>							
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Women</h4>
								<ul>
									<li><a href="men.html">Outerwear</a></li>
									<li><a href="men.html">Dresses</a></li>
									<li><a href="men.html">Handbags</a></li>
									<li><a href="men.html">Trousers</a></li>
									<li><a href="men.html">Jeans</a></li>
									<li><a href="men.html">T-Shirts</a></li>
									<li><a href="men.html">Shoes</a></li>
									<li><a href="men.html">Coats</a></li>
									<li><a href="men.html">Accessories</a></li>
								</ul>	
							</div>							
						</div>
						<div class="col2">
							<div class="h_nav">
								<h4>Trends</h4>
								<ul>
									<li class>
										<div class="p_left">
										  <img src="web/images/p1.jpg" class="img-responsive" alt=""/>
										</div>
										<div class="p_right">
											<h4><a href="#">Denim shirt</a></h4>
											<span class="item-cat"><small><a href="#">Jackets</a></small></span>
											<span class="price">29.99 $</span>
										</div>
										<div class="clearfix"> </div>
									</li>
									<li>
										<div class="p_left">
										  <img src="web/images/p2.jpg" class="img-responsive" alt=""/>
										</div>
										<div class="p_right">
											<h4><a href="#">Denim shirt</a></h4>
											<span class="item-cat"><small><a href="#">Jackets</a></small></span>
											<span class="price">29.99 $</span>
										</div>
										<div class="clearfix"> </div>
									</li>
									<li>
										<div class="p_left">
										  <img src="web/images/p3.jpg" class="img-responsive" alt=""/>
										</div>
										<div class="p_right">
											<h4><a href="#">Denim shirt</a></h4>
											<span class="item-cat"><small><a href="#">Jackets</a></small></span>
											<span class="price">29.99 $</span>
										</div>
										<div class="clearfix"> </div>
									</li>
								</ul>	
							</div>												
						</div>
					  </div>
					</div>
			</li>
			<li><a class="color4" href="#">womens</a>
				<div class="megapanel">
					<div class="row">
						<div class="col1">
							<div class="h_nav">
								<h4>Men</h4>
								<ul>
									<li><a href="men.html">Jackets</a></li>
									<li><a href="men.html">Blazers</a></li>
									<li><a href="men.html">Suits</a></li>
									<li><a href="men.html">Trousers</a></li>
									<li><a href="men.html">Jeans</a></li>
									<li><a href="men.html">Shirts</a></li>
									<li><a href="men.html">Sweatshirts & Hoodies</a></li>
									<li><a href="men.html">Swem Wear</a></li>
									<li><a href="men.html">Accessories</a></li>
								</ul>	
							</div>							
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Women</h4>
								<ul>
									<li><a href="men.html">Outerwear</a></li>
									<li><a href="men.html">Dresses</a></li>
									<li><a href="men.html">Handbags</a></li>
									<li><a href="men.html">Trousers</a></li>
									<li><a href="men.html">Jeans</a></li>
									<li><a href="men.html">T-Shirts</a></li>
									<li><a href="men.html">Shoes</a></li>
									<li><a href="men.html">Coats</a></li>
									<li><a href="men.html">Accessories</a></li>
								</ul>	
							</div>							
						</div> 
						{% comment %} <div class="col2">
							<div class="h_nav">
								<h4>Trends</h4>
								<ul>
									<li class>
										<div class="p_left">
										  <img src="web/images/p1.jpg" class="img-responsive" alt=""/>
										</div>
										<div class="p_right">
											<h4><a href="#">Denim shirt</a></h4>
											<span class="item-cat"><small><a href="#">Jackets</a></small></span>
											<span class="price">29.99 $</span>
										</div>
										<div class="clearfix"> </div>
									</li>
									<li>
										<div class="p_left">
										  <img src="web/images/p2.jpg" class="img-responsive" alt=""/>
										</div>
										<div class="p_right">
											<h4><a href="#">Denim shirt</a></h4>
											<span class="item-cat"><small><a href="#">Jackets</a></small></span>
											<span class="price">29.99 $</span>
										</div>
										<div class="clearfix"> </div>
									</li>
									<li>
										<div class="p_left">
										  <img src="web/images/p3.jpg" class="img-responsive" alt=""/>
										</div>
										<div class="p_right">
											<h4><a href="#">Denim shirt</a></h4>
											<span class="item-cat"><small><a href="#">Jackets</a></small></span>
											<span class="price">29.99 $</span>
										</div>
										<div class="clearfix"> </div>
									</li>
								</ul>	
							</div>												
						</div> {% endcomment %}
					  </div>
					</div>
				</li>				
				<li><a class="color10" href="brands.html">Brands</a></li>
				<li class="active grid"><a class="color3" href="index.html">Sale</a></li>
				<li><a class="color7" href="404.html">News</a></li>
				<div class="clearfix"> </div>
			</ul>
			</div>
	        <div class="clearfix"> </div>
	        <div class="header_arrow">
	          <a href="#arrow" class="scroll"><span> </span></a>
	        </div>
       </div>
   </div>
   <div class="main">
    <div class="container">
     <div class="top_grid" id="arrow">
   	  <div class="content_top">
   		<div class="col-md-8 col1">
   		   <a href="#" class="b-link-stroke b-animate-go  thickbox">
		   <img src="web/images/1.jpg" class="img-responsive" alt=""/><div class="b-wrapper2"><h2 class="b-animate b-from-left    b-delay03 ">Photo 1</h2><p class="b-animate b-from-right    b-delay03 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div></a>
        </div>
   		<div class="col-md-4">
   		   <a href="#" class="b-link-stroke b-animate-go  thickbox">
		   <img src="web/images/pic2.jpg" class="img-responsive" alt=""/><div class="b-wrapper1"><h2 class="b-animate b-from-left    b-delay03 ">Photo 1</h2><p class="b-animate b-from-right    b-delay03 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div></a>
   		  <div class="grid1">
   		  	 <a href="#" class="b-link-stroke b-animate-go  thickbox">
		   <img src="web/images/pic3.jpg" class="img-responsive" alt=""/><div class="b-wrapper1"><h2 class="b-animate b-from-left    b-delay03 ">Photo 1</h2><p class="b-animate b-from-right    b-delay03 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div></a>
   		  </div>
   		</div>
   		<div class="clearfix"> </div>
   	  </div>
   	  <div class="content_middle">
   	  	<div class="col-md-4 col2">
   	  		<a href="#" class="b-link-stroke b-animate-go  thickbox">
		   <img src="web/images/pic4.jpg" class="img-responsive" alt=""/><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 ">Photo 1</h2><p class="b-animate b-from-right    b-delay03 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div></a>
   	  	</div>
   	  	<div class="col-md-4 col2">
   	  		<a href="#" class="b-link-stroke b-animate-go  thickbox">
		   <img src="web/images/pic5.jpg" class="img-responsive" alt=""/><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 ">Photo 1</h2><p class="b-animate b-from-right    b-delay03 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div></a>
   	  	</div>
   	  	<div class="col-md-4">
   	  		<a href="#" class="b-link-stroke b-animate-go  thickbox">
		   <img src="web/images/pic6.jpg" class="img-responsive" alt=""/><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 ">Photo 1</h2><p class="b-animate b-from-right    b-delay03 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div></a>
   	  	</div>
   	  	<div class="clearfix"> </div>
   	  </div>
   	  </div>
   	</div>
   	<div class="content_middle_bottom">
   		<div class="header-left" id="home">
		      <section>
				<ul class="lb-album" >
					{% for product in products %}
                        <li>
                            <a href="#image-{{ product.id }}">
                                <img src="{{ media_root }}{{ product.image.url }}" class="img-responsive" alt="{{ product.name }}"/>
                                <span>{{ product.name }}</span>
                            </a>
                            <div class="lb-overlay" id="image-{{ product.id }}">
                                <a href="#page" class="lb-close">x Close</a>
                                <img src="{{ media_root }}{{ product.image.url }}" class="img-responsive" alt="{{ product.name }}"/>
								<p>Полный путь к изображению: {{ media_root }}/{{ product.image.url}}</p>
                                <div>
                                    <h3>{{ product.name }} <span>{{ product.description }}</span></h3>
                                    <p>{{ product.description }}</p>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                    <div class="clearfix"></div>
					<div class="clearfix"></div>
				</ul>
			</section>
		</div>
		<div class="field_content">
		    <h1># Icndy On Instagram</h1>
		    <h2>View Hashtag</h2>
		</div>
	 </div>
   </div>
   <div class="footer">
   	 <div class="container">
   		<div class="cssmenu">
				<ul>
					<li class="active"><a href="#">Privacy</a></li>
					<li><a href="#">Terms</a></li>
					<li><a href="#">Shop</a></li>
					<li><a href="#">About</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
		</div>
		<ul class="social">
			<li><a href=""> <i class="instagram"> </i> </a></li>
			<li><a href=""><i class="fb"> </i> </a></li>
			<li><a href=""><i class="tw"> </i> </a></li>
	    </ul>
	    <div class="clearfix"></div>
	    <div class="copy">
           <p>&copy; Template by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
	    </div>
   	</div>
   </div>
</body>
</html>		